@import 'theme/variables';
@import 'theme/material-theme';
@import '~bootstrap/scss/bootstrap';
@import '~ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; font-family: $font-body; color: $color-dark-charcoal; }

h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  color: $color-dark-charcoal;
}
