<div class="product-list-container container">
  <div *ngIf="isLoading" class="initial-loading">
    <app-logo-spinner></app-logo-spinner>
  </div>

  <div class="products-wrapper" *ngIf="!isLoading">
    <div *ngIf="products.length === 0" class="no-results">
      {{ "products.noResults" | translate }}
    </div>

    <div
      *ngIf="products.length > 0"
      class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-2 g-sm-3"
    >
      <div class="col" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </div>
</div>
