<div class="product-card">
  <div class="product-image-wrapper">
    <img
      class="product-image"
      [src]="product.photoUrl || placeholderUrl"
      [alt]="product.name"
      (error)="onImageError($event)"
    />
  </div>
  <div class="product-info">
    <div class="product-info-main">
      <span class="product-name">{{ product.name }}</span>
      <p class="product-price">{{ product.price }} ₴</p>
    </div>
    <div class="product-colors" *ngIf="product.colors.length">
      <span
        class="color-dot"
        *ngFor="let color of product.colors"
        [style.background-color]="color.hexCode"
        [title]="color.name"
      ></span>
    </div>
  </div>
</div>
